@using Microsoft.AspNet.Identity
@model DeadCollectors.Models.Post

@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var repository = new DeadCollectors.Models.BlogRepository();

    var categories = new List<SelectListItem>();

    foreach (var category in repository.GetCategories())
    {
        categories.Add(new SelectListItem()
        {
            Value = category.ID.ToString(),
            Text = category.Name
        });
    }
}

@Html.ValidationSummary("", new { @class = "text-danger" })
@using (Html.BeginForm("AddPost", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.TextAreaFor(m => m.Body, new { @class = "mytextarea"})
    @Html.DropDownListFor(m => m.Category.ID, categories)
    @Html.TextBoxFor(m => m.ImageUpload, "Upload Image", new { type = "file", @class = "ml-5"})
    <button class ="btn btn-dark mt-3" style="font-size: 1.5rem; position: relative; left: 38%;">Add Post</button>
}

@section scripts {
    <script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=f18d6uwnkr9y0q65wjir7f241qr039oohmk5i94j5vqns97g'></script>
    <script>
        tinymce.init({
            selector: '.mytextarea',
            height: 600
        });
    </script>
}
