@model CarDealershipTake3.ViewModels.UsersViewModel
@{
    ViewBag.Title = "Users";
    var repo = new CarDealershipTake3.Models.identityFunctions();
}

<h2>Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">User Email</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@repo.GetRoleName(user.Id)</td>
                <td><a href="edituser/@user.Id" class="btn btn-dark">Edit</a></td>
                <td><a href="deleteuser/@user.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @user.Email?')">Delete</a></td>

            </tr>
        }
        @Html.ActionLink("Add User", "AddUser", "Admin", new { @class = "btn btn-dark" })
    </tbody>
</table>